.text-projeto {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  color: #fff;
}

.projetos {
  color: #fff;
  display: grid;
  padding-top: 150px;
  justify-content: center;
  grid-template-columns: 700px 500px;
}

.video video {
  width: 650px;
}

.usos {
  display: flex;
  gap: 30px;
  padding-top: 20px;
  width: 40px;
}

.btn {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  text-align: center;
  padding-left: 380px;
}

.btn button {
  padding: 5px 20px;
  border: 1px solid #fff;
  font-weight: bold;
  background: #fff;
  font-size: 20px;
  cursor: pointer;
  color: #000;
}

.links-projetos {
  padding-top: 30px;
  display: flex;
  gap: 20px;
}

.projeto-texto {
  display: grid;
}

.links-projetos a {
  color: #fff;
  padding: 10px 20px;
  background: #6a97ff;
  border: 1px solid #000;
  transition: 0.5s;
}

.links-projetos a:hover {
  border: 1px solid #6a97ff;
  background: linear-gradient(to right, #080713, #6a97ff);
}

@media (max-width: 1110px) {
  .projetos {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .btn {
    padding-left: 300px;
  }

  .usos {
    margin: 0 auto;
    padding-right: 150px;
    width: 190px;
  }

  .links-projetos {
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .btn {
    padding-left: 250px;
  }
}

@media (max-width: 680px) {
  .btn {
    padding-left: 180px;
  }
}

@media (max-width: 640px) {
  .projetos {
    display: block;
  }

  .usos {
    padding-right: 110px;
    width: 150px;
  }

  .video video {
    width: 550px;
  }

  .btn {
    padding-left: 150px;
  }
}

@media (max-width: 580px) {
  .video video {
    width: 450px;
  }

  .btn {
    padding-left: 120px;
  }
}

@media (max-width: 480px) {
  .video video {
    width: 350px;
  }
}

@media (max-width: 430px) {
  .btn {
    padding-left: 100px;
  }
}

@media (max-width: 400px) {
  .video video {
    width: 280px;
  }

  .projeto-texto {
    padding: 5px;
    padding-top: 30px;
  }

  .btn {
    padding-left: 95px;
  }

  .links-projetos a {
    padding: 10px 15px;
  }

  .jq {
    padding-right: 180px;
    width: 220px;
  }
}

@media (max-width: 340px) {
  .btn {
    padding-left: 70px;
  }
}

@media (max-width: 310px) {
  .video video {
    width: 250px;
  }

  .text {
    margin-top: 20px;
  }

  .btn {
    padding-left: 60px;
  }
}

@media (max-width: 270px) {
  .btn {
    padding-left: 50px;
  }

  .links-projetos a {
    padding: 8px 10px;
  }
}
