.text-projeto {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  color: #fff;
}

.projetos {
  color: #fff;
  display: block;
  padding-top: 150px;
  justify-content: center;
  text-align: center;
}

.video video {
  width: 650px;
}
.text {
  width: 900px;
  margin: 0 auto;
  margin-top: 30px;
}

.usos {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 40px;
  gap: 30px;
  margin-top: 30px;
}

.usos img {
  text-align: center;
  margin: 0 auto;
  width: 50px;
}

.links-projetos {
  padding-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.projeto-texto {
  display: grid;
}

.links-projetos a {
  color: #fff;
  padding: 10px 20px;
  background: #6a97ff;
  border: 1px solid #000;
  transition: 0.5s;
}

.links-projetos a:hover {
  border: 1px solid #6a97ff;
  background: linear-gradient(to right, #080713, #6a97ff);
}
@media (max-width: 950px) {
  .text {
    width: 700px;
  }
}
@media (max-width: 730px) {
  .text {
    width: 500px;
  }
}
@media (max-width: 680px) {
  .video video {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .video video {
    width: 440px;
  }
  .text {
    width: 400px;
  }
}
@media (max-width: 490px) {
  .video video {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .video video {
    width: 300px;
  }
  .text {
    width: 350px;
  }
}
@media (max-width: 360px) {
  .text {
    width: 250px;
  }
}
