nav {
    display: flex;
    justify-content: space-around;
    background: #1C1C1C;
    height: 50px;
    padding-top: 20px;
  }
  #menu {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
  
  }
  #menu a {
    color: #DCDCDC;
    font-size: 18px;
    vertical-align: inherit;
    transition: 0.5s;
    position: relative;
    padding-top: 30px;
  }

  #menu a::after {
    content: "";
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #0003, #6A97FF);
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
  }
  
  #menu a:hover::after {
    transform: scaleX(1);
    border-radius: 5px;
  }
  #menu {
    align-items: center;
  }
  @media(max-width:1000px) {

    .btn-mobile {
      display: flex;
      padding: .5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: .5rem;
    }
  
    #hamburguer {
      width: 25px;
      border-top: 3px solid #fff;
      display: block;
    }
  
    #hamburguer::after,
    #hamburguer::before {
      content: "";
      display: block;
      width: 25px;
      height: 3px;
      background-color: currentColor;
      margin-top: 5px;
      transition: .3s;
      position: relative;
      color: #fff;
    }
  
    nav.active #hamburguer {
      border-top-color: transparent;
    }
  
    nav.active #hamburguer::before {
      transform: rotate(135deg);
    }
  
    nav.active #hamburguer::after {
      transform: rotate(-135deg);
      top: -7.2px;
    }
  
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      margin: 0;
      height: 0px;
      transition: .3s;
      z-index: 1000;
      visibility: hidden;
      overflow-y: hidden;
      background: #1C1C1C;
  
    }
  
    #menu li {
      margin-bottom: 10px;
      padding-top: 25px;
      text-align: center;
  
  
    }
  
    #menu a {
      font-size: 20px;
    }
  
  
    nav.active #menu {
      visibility: visible;
      overflow-y: auto;
      height: calc(70vh - 70px);
  
    }
  
  }